@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/mixins.sass";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

@font-face {
  font-family: 'Autumn';
  src: url('fonts/autumn_in_november.ttf') format('truetype'),
}

@font-face {
  font-family: 'Dustismo';
  src: url('fonts/dustismo_roman.ttf') format('truetype'),
}

.autumn {
  font-family: 'Autumn', serif;
  letter-spacing: 4px;
  line-height: 1.2;
}

.dustismo {
  font-family: 'Dustismo', sans-serif;
}

html {
  background: url('../images/bedge-bg.png') repeat;
}

.address-link {
  color:  #000080;
}

#header {
  animation-duration: 2s;
}

.main-bg {
  background-color: $white;
  background: url('../images/bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include touch {
    background: url('../images/bg-mobile.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 60%;
  }
}

.footer-bg {
  margin-bottom: 4em;
  background-color: $white;
  background: url('../images/forest.jpg') no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include touch {
    background: url('../images/forest-mobile.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 25%;
  }
}

#header-title {
  line-height: 1.2;
}

#main-title {
  padding: 3.5em;
  animation-delay: 1s;

  @include mobile {
    padding: 0;
    margin: 1em;
  }

  #header-title, #subtitle {
    @include desktop {
      font-size: 3em;
      line-height: 1.2;
    }

    @include touch {
      line-height: 1.4;
    }
  }

  #header-title {
    @include mobile {
      margin-bottom: 1rem;
    }
  }
}

#intro {
  margin: 2em 0em;

  .title {
    @include desktop {
      font-size: 5em;
    }
  }
}

.image-shadow {
  box-shadow: 6px 6px 6px -6px $black;
  border-radius: 5px;
}

.me-section {
  @extend .section;
  padding-bottom: 1em;
}

#location-section {
  padding-top: 1em;
  padding-bottom: 1em;

  @include mobile {
    padding-top: 0;
  }
}

#ceremony-section {
  margin-bottom: 2em;
}

#ceremony-title {
}

#accomodations-section {
  padding-top: 1em;
  padding-bottom: 1em;

  @include touch {
    padding-bottom: 0;
  }
}

#registry-section {
  padding-top: 1em;
  padding-bottom: 3em;
}

.main-section {
  @include touch {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.info-column {

  &p {
    margin: 1em 0em;
  }
}

.content-column {
  @include touch {
    margin-top: 1em;
  }
}

#book-button {
  margin: 2em 0em;
  border-radius: 5px;

  @include desktop {
    margin: 2em;
  }
}

#forest {
  transform: scaleY(-1);
}

.pad {
  padding: 1.5em;
}

.slow-fade {
  animation-duration: 2s;
}


.centered {
  text-align: center;
}

.image {
  transform: scaleY(-1);
}

.js-loading {
  opacity: 0;
}
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
